html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  background-image: url(fitness1.jpg);
  background-size: cover;
  background-position: centre;
  font-family: times 'Times New Roman', Times, serif;
}
form{
  width: 380px;
  height: 580px;
  position: relative;
  margin: 6% auto;
  background-size: cover;
  background: linear-gradient(#8F71FF, #8BFFFF);
  border-radius: 25px;
  padding: 5px;
  box-sizing: border-box; 
}

.h22{
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  margin-bottom: 5px;
}
.input-box{
  width:100%;
  background: transparent;
  border: 1px solid #fff;
  margin: 15px 0;
  height: 32px;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  color: #fff;
}
::placeholder{
  color: #fff;
  font-size: 12px;
}
.subbut{
  width: 60%;
  background: transparent;
  border: 1px solid #fff;
  margin: 20px 0 10px;
  height: 32px;
  font-size: 12px;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  color:#fff;
  cursor: pointer;
  margin-top: 8px;
  align-self: center;
}
.subbut:hover {
  background-color: transparent;
  border: 2px solid #fff;
  padding: 13px 28px;
  color: #fff;
}

span{
  font-size: 13px;
  margin-left: 10px;
}

a{
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 13px;
  margin-top: 8px;
}

/* Setup for date flexbox */
.date-wrapper {
  align-items: baseline;
  background: #fff;
  display: inline-flex;
}
.date-year,
.date-month,
.date-day {
  display: inline-block;
}

